@model IEnumerable< Abc.MvcWebUI.Models.AdminOrderModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
    <h2>Siparişler</h2>
    <hr/>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Müşteri Numarası</th>
                <th>Kullanıcı Adı</th>
                <th>Adres</th>
                <th>Adres Başlığı</th>
                <th>Şehir</th>
                <th>Semt</th>
                <th>Mahalle</th>
                <th>Toplam</th>
                <th>Adet</th>

                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderNumber</td>
                <td>@item.Username</td>
                <td>@item.Adres</td>
                <td>@item.AdresBasligi</td>
                <td>@item.Sehir</td>
                <td>@item.Semt</td>
                <td>@item.Mahalle</td>
                <td>@item.Total</td>
                <td>@item.Count</td>
                
            </tr>
            }
        </tbody>
    </table>
</div> 

